@import '~lib/sandal/core', '~lib/sandal/core/reset';
@import 'vars', 'functions';

* {
	box-sizing: border-box;
}

body {
	// max-width: $maxWidth;
	margin: 0 auto;
	background-color: $colorBg;
	padding-bottom: px2em(140);
}

.img {
	width: 100%;
	display: block;
}

.margin-bottom {
	margin-bottom: $marginBottom;
}

select {
	appearance: none;
	-webkit-appearance: none;
}