@import '~lib/sandal/core', '~lib/sandal/core/reset';
@import 'vars', 'functions';

* {
	box-sizing: border-box;
}

body {
	max-width: $maxWidth;
	margin: 0 auto;
	background-color: $colorBg;
}

.img {
	width: 100%;
	display: block;
}