@import '~lib/sandal/core';
@import '~assets/css/vars', '~assets/css/functions';
@import '~assets/css/spriter';

$icon: search_icon, // 搜索
			book, // 搜索目录
			zan, // 赞
			zan_active, // 赞，高亮
			store, // 收藏
			store_active, // 收藏，高亮
			cart, // 购物车
			cart_active, // 购物车，高亮
			cart_big, // 悬浮的购物车
			right, // 对
			wrong, // 错
			delete, // 清除输入框
			trash, // 删除
			order, // 订单
			youhuiquan, // 优惠券
			dizhi, // 地址
			wodeshoucang, // 我的收藏
			wodezixun, // 我的咨询
			weixin, // 用在微信支付
			check_yuan, // check
			uncheck_yuan, // uncheck
			edit, // 悬浮编辑
			audio_start, // 音频开始
			audio_pause, // 音频暂停
			dialogbg, // dialog 背景
			dialogclose, // dialog 关闭
			result, // 结果
			discount_coupon; // 优惠券背景

@each $iconName in $icon {
	.icon-#{$iconName} {
		@include img-dpr('.icon-#{$iconName}');
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
}

.icon-dialogbg {
	background-size: 100%;
}