// 搜索
.icon-search_icon {
  background: url("~assets/img/search/search_icon.png");
  width: 16px;
  height: 16px;
}
.icon-search_icon2x {
  background: url("~assets/img/search/search_icon2x.png");
  width: 32px;
  height: 31px;
}
.icon-search_icon3x {
  background: url("~assets/img/search/search_icon3x.png");
  width: 48px;
  height: 47px;
}
// 搜索目录
.icon-book {
  background: url("~assets/img/search/book.png");
  width: 19px;
  height: 18px;
}
.icon-book2x {
  background: url("~assets/img/search/book2x.png");
  width: 38px;
  height: 35px;
}
.icon-book3x {
  background: url("~assets/img/search/book3x.png");
  width: 57px;
  height: 53px;
}
// 点赞
.icon-zan {
  background: url("~assets/img/spriter/zan.png");
  width: 20px;
  height: 20px;
}
.icon-zan2x {
  background: url("~assets/img/spriter/zan2x.png");
  width: 40px;
  height: 40px;
}
.icon-zan3x {
  background: url("~assets/img/spriter/zan3x.png");
  width: 60px;
  height: 60px;
}
.icon-zan_active {
  background: url("~assets/img/spriter/zan_active.png");
  width: 20px;
  height: 20px;
}
.icon-zan_active2x {
  background: url("~assets/img/spriter/zan_active2x.png");
  width: 40px;
  height: 40px;
}
.icon-zan_active3x {
  background: url("~assets/img/spriter/zan_active3x.png");
  width: 60px;
  height: 60px;
}

// 收藏
.icon-store {
  background: url("~assets/img/spriter/store.png");
  width: 20px;
  height: 20px;
}
.icon-store2x {
  background: url("~assets/img/spriter/store2x.png");
  width: 40px;
  height: 40px;
}
.icon-store3x {
  background: url("~assets/img/spriter/store3x.png");
  width: 60px;
  height: 60px;
}
.icon-store_active {
  background: url("~assets/img/spriter/store_active.png");
  width: 20px;
  height: 20px;
}
.icon-store_active2x {
  background: url("~assets/img/spriter/store_active2x.png");
  width: 40px;
  height: 40px;
}
.icon-store_active3x {
  background: url("~assets/img/spriter/store_active3x.png");
  width: 60px;
  height: 60px;
}
// 购物车
.icon-cart {
  background: url("~assets/img/spriter/cart.png");
  width: 20px;
  height: 20px;
}
.icon-cart2x {
  background: url("~assets/img/spriter/cart2x.png");
  width: 40px;
  height: 40px;
}
.icon-cart3x {
  background: url("~assets/img/spriter/cart3x.png");
  width: 60px;
  height: 60px;
}
.icon-cart_active {
  background: url("~assets/img/spriter/cart_active.png");
  width: 20px;
  height: 20px;
}
.icon-cart_active2x {
  background: url("~assets/img/spriter/cart_active2x.png");
  width: 40px;
  height: 40px;
}
.icon-cart_active3x {
  background: url("~assets/img/spriter/cart_active3x.png");
  width: 60px;
  height: 60px;
}
// 购物车(悬浮)
.icon-cart_big {
  background: url("~assets/img/spriter/cart_big.png");
  width: 68px;
  height: 68px;
}
.icon-cart_big2x {
  background: url("~assets/img/spriter/cart_big2x.png");
  width: 136px;
  height: 136px;
}
.icon-cart_big3x {
  background: url("~assets/img/spriter/cart_big3x.png");
  width: 204px;
  height: 204px;
}
// question
// 对
.icon-right {
  background: url("~assets/img/spriter/right.png");
  width: 17px;
  height: 17px;
}
.icon-right2x {
  background: url("~assets/img/spriter/right2x.png");
  width: 34px;
  height: 34px;
}
.icon-right3x {
  background: url("~assets/img/spriter/right3x.png");
  width: 51px;
  height: 51px;
}
// 错
.icon-wrong {
  background: url("~assets/img/spriter/wrong.png");
  width: 17px;
  height: 17px;
}
.icon-wrong2x {
  background: url("~assets/img/spriter/wrong2x.png");
  width: 34px;
  height: 34px;
}
.icon-wrong3x {
  background: url("~assets/img/spriter/wrong3x.png");
  width: 51px;
  height: 51px;
}
// 优惠券背景
.icon-discount_coupon {
  background: url("~assets/img/spriter/discount_coupon.png");
  width: 375px;
  height: 170px;
}
.icon-discount_coupon2x {
  background: url("~assets/img/spriter/discount_coupon2x.png");
  width: 750px;
  height: 300px;
}
.icon-discount_coupon3x {
  background: url("~assets/img/spriter/discount_coupon3x.png");
  width: 1125px;
  height: 450px;
}
// 清除输入框
.icon-delete {
  background: url("~assets/img/spriter/delete.png");
  width: 17px;
  height: 17px;
}
.icon-delete2x {
  background: url("~assets/img/spriter/delete2x.png");
  width: 34px;
  height: 34px;
}
.icon-delete3x {
  background: url("~assets/img/spriter/delete3x.png");
  width: 51px;
  height: 51px;
}
